.Scoreboard {
    width: 90vw;
    height: 75vh;
    box-sizing: border-box;
    margin: 2vh auto;
    margin-top: 5vh;
    padding: 8% 5% 3% 5%;
    background-image: url(../../assets/FRAME.png);
    background-size: 100% 100%;
    line-height: 1.5;
}
.Scoreboard .record {
    display: flex;
}
.userRecord {
    color: #77bbe9;
}
.record .lp, .record .score{
    width: 15%;
}
.record .nick {
    width: 70%;
}
.back {
    margin: 1vh auto;
    color: #b31366;
}
@media (min-width: 992px) { 
 .Scoreboard{width: 50vw;}
}