.controlPanel {
    width: 37vh;
    height: 37vh;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    transform: scale(1.15);
    width: calc(100%/3);
    height: calc(100%/3);
    display: inline-block;
    background-image: url(../../../assets/arrow.png);
    background-size: 100% 100%;
    transition: 0.1s ease-in;
}

.arrow:active {
    transform: scale(1);
}

.up {
    transform:  scale(1.15) rotate(90deg);
    margin: 0 calc(100%/3);
}

.up:active {
    transform: rotate(90deg) scale(1);
}

.right {
    margin-left: calc(100%/3);
    transform:  scale(1.15) rotate(180deg);
}

.right:active {
    transform: rotate(180deg) scale(1);
}

.down {
    transform:  scale(1.15) rotate(-90deg);
}

.down:active {
    transform: rotate(-90deg) scale(1);
}

@media(max-height: 500px) {
    .controlPanel {width: 33vh; height: 33vh;}
}

@media(min-width:1025px) {
    .controlPanel {display: none;}
}