.Button {
    display: block;
    color: inherit;
    font-family: inherit;
    background: none;
    border: none;
    font-size: 1.7rem;
    margin: 10vw auto 0 auto;
    cursor: pointer;
    transition: .15s ease;
}

.Button:hover {
    transform: scale(1.05);
}

.Button a {
    text-decoration: none;
    color: inherit;
}

.Settings {
    width: 80vw;
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Settings>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.Settings>div>p {
    width: 100%;
    margin: 8vw 0 4vw 0;
    flex-shrink: 0;
    font-size: 1rem;
    color: #b31366;
}

.Settings>div input[type="radio"], 
.Auth>div input[type="radio"] {
    display: none;
}

.Settings>div input[type="radio"]+label,
.Auth>div input[type="radio"]+label {
    transition: .1s ease;
}

.Settings>div input[type="radio"]:checked+label {
    color: #77bbe9;
    transform: scale(1.1);
}

.Settings>div input[type="radio"]:hover+label {
    color: #77bbe9;
}

@media (min-width: 576px) {  
    .Settings {width:70vw}
}

@media (min-width: 992px) { 
    .Settings {width:60vw}
    .Settings>div>p {width: 50%; margin: 2vw 0;}
    .startButton {margin-top: 5vw;}
}