.Auth {
    width: 70vw;
    color: white;
    font-size: 1.3rem;
    position: absolute;
    height: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.5;
}
.toggler{
    margin: 15px auto 10px auto;
    position: relative;
    display: inline-block;
    transition: .3s ease;
}
.toggler::before{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 3px;
    width: 50%;
    background-color: #b31366;
    transition: .3s ease;
}
.toggler.active::before{
    left: 50%;
}
.Auth input[type='text'], 
.Auth input[type='password'] {
    margin: 10px auto;
    text-align: center;
    display: block;
    background-color: #070707;
    color: white;
    border: 2px solid #423b3b;
    padding: 5px 0;
    font-family: inherit;
    font-size: .9rem;
    width: 50%;
    min-width: 210px;
    border-radius: 2px;
}
.Auth input[type='text']+label, 
.Auth input[type='password']+label {
    font-size: 0;
    position: absolute;
}
::placeholder {
    color: #4b4545;
    opacity: 1; /* Firefox */
}
.Auth>div input[type="radio"]+label{
    position: relative;
    display: inline-block;
    margin: 0 5px;
    color: #611139;
}
.Auth>div input[type="radio"]:checked+label {
    color: #b31366;
}
.Auth button {
    margin: 30px auto;
    display: block;
    font-family: inherit;
    color: #77bbe9;
    background-color: #000;
    border: none;
    font-size: 1.5rem;
}
.offline {
    color: #611139 !important;
}
.error {
    position: absolute;
    width: 100vw;
    bottom: 5vh;
    line-height: 2;
    font-size: .8rem;
}
@media (min-width: 992px) {
    .Auth input[type='text'], 
    .Auth input[type='password']{
        width: 250px;
    }
}